In [1]:
import numpy as np
import pandas as pd

In [2]:
apt = pd.read_csv('중구아파트.csv')

In [3]:
df = apt[['아파트코드','전용면적(㎡)', '계약년월', '건축년도', '주차대수','범죄율', '건물연식',
'대규모점포_거리', '버스정류장_거리', '지하철역_거리', '학교_거리', '유치원_거리', '병원_거리',
'거래금액(만원)','주택구매력지수', 'RIR','LIR']]

In [4]:
df['area']=df['전용면적(㎡)'].round(-1)

C:\Users\46861\AppData\Local\Temp\ipykernel_17248\2287369711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area']=df['전용면적(㎡)'].round(-1)

In [5]:
df.pop('전용면적(㎡)')

0         84.9866
1         84.9866
2         84.9866
3         84.9846
4         84.9581
           ...
12853    146.9679
12854    147.3212
12855    124.2102
12856    146.9679
12857    147.3270
Name: 전용면적(㎡), Length: 12858, dtype: float64

In [6]:
df['price'] = 0
for i in df.index:
    if type(df['거래금액(만원)'][i]) == str:
        df['price'][i] = df['거래금액(만원)'][i].replace(',','')
    else: 
        df['price'][i] = df['거래금액(만원)'][i]
df

C:\Users\46861\AppData\Local\Temp\ipykernel_17248\3358220643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = 0
C:\Users\46861\AppData\Local\Temp\ipykernel_17248\3358220643.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i] = df['거래금액(만원)'][i].replace(',','')

,아파트코드,계약년월,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,거래금액(만원),주택구매력지수,RIR,LIR,area,price
0,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,64700.0,62.082580,7.04,3.06,80.0,64700.0
1,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,62.082580,7.04,3.06,80.0,72000.0
2,A10080701,201609.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,60.222390,7.56,3.24,80.0,72000.0
3,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,69500.0,54.946911,7.85,3.58,80.0,69500.0
4,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,76000.0,54.946911,7.85,3.58,80.0,76000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12853,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"68,494",63.157309,7.20,2.99,150.0,68494
12854,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"67,787",63.157309,7.20,2.99,150.0,67787
12855,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"77,204",63.157309,7.20,2.99,120.0,77204
12856,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"99,020",63.157309,7.20,2.99,150.0,99020
12857,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"102,150",63.157309,7.20,2.99,150.0,102150

In [7]:
df = df.astype({'price':'float64'})

In [8]:
df['price']=df.groupby(['계약년월','아파트코드','area'])['price'].transform('mean')

In [9]:
df['아파트구분'] = df['아파트코드'].map(str) +'-' +df['area'].map(str)

In [10]:
df = df.drop_duplicates(subset=['아파트구분','계약년월'])

In [11]:
df.pop('거래금액(만원)')

0               64700.0
2               72000.0
3               69500.0
7               68700.0
8               66900.0
              ...
12836           148,283
12841           100,289
12843            79,398
12848            79,828
12849            68,118
Name: 거래금액(만원), Length: 4128, dtype: object

In [12]:
df['date'] = df['계약년월']
df = df.set_index('계약년월')

In [13]:
df = df.sort_values(by=["아파트구분", "date"], ascending=[True, True])

In [14]:
df

,아파트코드,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,주택구매력지수,RIR,LIR,area,price,아파트구분,date
계약년월,,,,,,,,,,,,,,,,,,
202202.0,A10024359,2020.0,89.0,2.59041,1.0,0.610472,0.019465,0.286507,0.177679,0.487640,0.086717,36.735880,13.74,1.60,10.0,26000.0,A10024359-10.0,202202.0
202203.0,A10024359,2020.0,89.0,2.59041,1.0,0.610472,0.019465,0.286507,0.177679,0.487640,0.086717,36.812733,NaN,NaN,10.0,28000.0,A10024359-10.0,202203.0
202203.0,A10024359,2020.0,89.0,2.59041,1.0,0.610472,0.019465,0.286507,0.177679,0.487640,0.086717,36.812733,NaN,NaN,20.0,50169.0,A10024359-20.0,202203.0
202204.0,A10024359,2020.0,89.0,2.59041,1.0,0.610472,0.019465,0.286507,0.177679,0.487640,0.086717,NaN,NaN,NaN,20.0,38000.0,A10024359-20.0,202204.0
202205.0,A10024359,2020.0,89.0,2.59041,1.0,0.610472,0.019465,0.286507,0.177679,0.487640,0.086717,NaN,NaN,NaN,20.0,42000.0,A10024359-20.0,202205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201810.0,A13302201,2001.0,277.0,2.59041,9.0,0.261638,0.186777,0.265370,0.245855,0.213808,0.228827,40.168482,7.72,3.50,80.0,62700.0,A13302201-80.0,201810.0
202009.0,A13302201,2001.0,277.0,2.59041,9.0,0.261638,0.186777,0.265370,0.245855,0.213808,0.228827,45.989589,8.98,4.44,80.0,89500.0,A13302201-80.0,202009.0
202010.0,A13302201,2001.0,277.0,2.59041,9.0,0.261638,0.186777,0.265370,0.245855,0.213808,0.228827,44.830585,8.77,4.44,80.0,90000.0,A13302201-80.0,202010.0
202104.0,A13302201,2001.0,277.0,2.59041,9.0,0.261638,0.186777,0.265370,0.245855,0.213808,0.228827,40.700465,8.62,4.33,80.0,96000.0,A13302201-80.0,202104.0
202107.0,A13302201,2001.0,277.0,2.59041,9.0,0.261638,0.186777,0.265370,0.245855,0.213808,0.228827,43.168166,8.62,4.45,80.0,98000.0,A13302201-80.0,202107.0

In [21]:
codes = df['아파트구분'].unique()

In [22]:
codes

array(['A10024359-10.0', 'A10024359-20.0', 'A10024359-30.0',
       'A10024756-40.0', 'A10024756-50.0', 'A10024756-60.0',
       'A10024756-80.0', 'A10024801-120.0', 'A10024801-140.0',
       'A10024801-150.0', 'A10024801-190.0', 'A10024801-80.0',
       'A10025223-20.0', 'A10025223-40.0', 'A10025372-60.0',
       'A10025372-70.0', 'A10026517-70.0', 'A10026517-80.0',
       'A10026849-100.0', 'A10026849-50.0', 'A10026849-60.0',
       'A10026881-60.0', 'A10026881-70.0', 'A10026881-80.0',
       'A10027364-120.0', 'A10027364-30.0', 'A10027364-40.0',
       'A10027364-60.0', 'A10027364-70.0', 'A10027364-80.0',
       'A10028201-140.0', 'A10028201-40.0', 'A10028201-50.0',
       'A10028201-80.0', 'A10028201-90.0', 'A10044001-110.0',
       'A10044001-60.0', 'A10044001-80.0', 'A10044002-110.0',
       'A10044002-60.0', 'A10044002-80.0', 'A10045001-110.0',
       'A10045001-150.0', 'A10045001-60.0', 'A10045001-80.0',
       'A10045002-120.0', 'A10045002-150.0', 'A10045002-60.0',
       'A10045002-80.0', 'A10045301-110.0', 'A10045301-60.0',
       'A10045301-80.0', 'A10045302-110.0', 'A10045302-60.0',
       'A10045302-80.0', 'A10045401-110.0', 'A10045401-60.0',
       'A10045401-80.0', 'A10045402-110.0', 'A10045402-60.0',
       'A10045402-70.0', 'A10045402-80.0', 'A10045403-110.0',
       'A10045403-60.0', 'A10045403-80.0', 'A10045404-110.0',
       'A10045404-60.0', 'A10045404-70.0', 'A10045404-80.0',
       'A10045601-120.0', 'A10045601-140.0', 'A10045601-70.0',
       'A10045601-80.0', 'A10071301-110.0', 'A10071301-130.0',
       'A10071301-140.0', 'A10071301-160.0', 'A10071301-80.0',
       'A10071301-90.0', 'A10072501-140.0', 'A10072501-160.0',
       'A10072501-170.0', 'A10072501-180.0', 'A10072501-230.0',
       'A10078102-60.0', 'A10078102-80.0', 'A10078103-120.0',
       'A10078103-150.0', 'A10078103-60.0', 'A10078103-80.0',
       'A10078901-120.0', 'A10078901-60.0', 'A10078901-80.0',
       'A10078902-120.0', 'A10078902-60.0', 'A10078902-80.0',
       'A10080701-80.0', 'A10085903-110.0', 'A10085903-50.0',
       'A10085903-60.0', 'A10085903-80.0', 'A10086301-100.0',
       'A10086301-110.0', 'A10086301-130.0', 'A10086301-160.0',
       'A10086301-70.0', 'A10086301-80.0', 'A10086301-90.0',
       'A10086801-110.0', 'A10086801-120.0', 'A10086801-130.0',
       'A10086801-150.0', 'A10086801-80.0', 'A10088101-120.0',
       'A10088101-140.0', 'A10088101-150.0', 'A10088101-180.0',
       'A10088101-210.0', 'A10088101-240.0', 'A10088102-100.0',
       'A10088102-110.0', 'A10088102-130.0', 'A10088102-180.0',
       'A10088102-190.0', 'A10088102-210.0', 'A10088102-220.0',
       'A10088102-230.0', 'A10088102-30.0', 'A10088102-40.0',
       'A10095501-20.0', 'A10095501-30.0', 'A10095502-120.0',
       'A10095502-150.0', 'A10095502-170.0', 'A10095502-180.0',
       'A10095502-190.0', 'A10095502-200.0', 'A10095502-210.0',
       'A10095502-230.0', 'A10095502-240.0', 'A10095502-250.0',
       'A10095502-260.0', 'A10095502-270.0', 'A10095502-90.0',
       'A13302201-60.0', 'A13302201-80.0'], dtype=object)

In [17]:
groups = df.groupby(df.아파트구분)

In [24]:
for i in codes:
    globals(['df_{}'.format(i)]) = groups.get_group(i)

SyntaxError: cannot assign to function call (2681240090.py, line 2)