In [1]:
import numpy as np
import pandas as pd

In [2]:
apt = pd.read_csv('중구아파트.csv')

In [3]:
apt

,Unnamed: 0,아파트코드,단지명,시군구,주소.읍면동.,kapt도로명주소,세대타입.분양형태.,전용면적(㎡),계약년월,층,...,학교_거리,유치원_거리,병원_거리,거래금액(만원),Unnamed: 0.1,년도,월,주택구매력지수,RIR,LIR
0,0,A10080701,LIG서울역리가,서울특별시 중구 만리동1가,만리동1가,서울특별시 중구 만리재로33길 21,분양,84.9866,201608.0,3.0,...,0.126888,0.367897,0.175818,64700.0,55,2016,8,62.082580,7.04,3.06
1,1,A10080701,LIG서울역리가,서울특별시 중구 만리동1가,만리동1가,서울특별시 중구 만리재로33길 21,분양,84.9866,201608.0,13.0,...,0.126888,0.367897,0.175818,72000.0,55,2016,8,62.082580,7.04,3.06
2,2,A10080701,LIG서울역리가,서울특별시 중구 만리동1가,만리동1가,서울특별시 중구 만리재로33길 21,분양,84.9866,201609.0,11.0,...,0.126888,0.367897,0.175818,72000.0,56,2016,9,60.222390,7.56,3.24
3,3,A10080701,LIG서울역리가,서울특별시 중구 만리동1가,만리동1가,서울특별시 중구 만리재로33길 21,분양,84.9846,201612.0,8.0,...,0.126888,0.367897,0.175818,69500.0,59,2016,12,54.946911,7.85,3.58
4,4,A10080701,LIG서울역리가,서울특별시 중구 만리동1가,만리동1가,서울특별시 중구 만리재로33길 21,분양,84.9581,201612.0,13.0,...,0.126888,0.367897,0.175818,76000.0,59,2016,12,54.946911,7.85,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12853,12853,A10095502,청계천두산위브더제니스,서울특별시 중구 흥인동,흥인동,서울특별시 중구 다산로46길 17,분양,146.9679,201512.0,19.0,...,0.180272,0.217184,0.002898,"68,494",47,2015,12,63.157309,7.20,2.99
12854,12854,A10095502,청계천두산위브더제니스,서울특별시 중구 흥인동,흥인동,서울특별시 중구 다산로46길 17,분양,147.3212,201512.0,22.0,...,0.180272,0.217184,0.002898,"67,787",47,2015,12,63.157309,7.20,2.99
12855,12855,A10095502,청계천두산위브더제니스,서울특별시 중구 흥인동,흥인동,서울특별시 중구 다산로46길 17,분양,124.2102,201512.0,23.0,...,0.180272,0.217184,0.002898,"77,204",47,2015,12,63.157309,7.20,2.99
12856,12856,A10095502,청계천두산위브더제니스,서울특별시 중구 흥인동,흥인동,서울특별시 중구 다산로46길 17,분양,146.9679,201512.0,18.0,...,0.180272,0.217184,0.002898,"99,020",47,2015,12,63.157309,7.20,2.99
12857,12857,A10095502,청계천두산위브더제니스,서울특별시 중구 흥인동,흥인동,서울특별시 중구 다산로46길 17,분양,147.3270,201512.0,15.0,...,0.180272,0.217184,0.002898,"102,150",47,2015,12,63.157309,7.20,2.99

In [4]:
df = apt[['아파트코드','전용면적(㎡)', '계약년월', '건축년도', '주차대수','범죄율', '건물연식',
'대규모점포_거리', '버스정류장_거리', '지하철역_거리', '학교_거리', '유치원_거리', '병원_거리',
'거래금액(만원)','주택구매력지수', 'RIR','LIR']]

In [5]:
df

,아파트코드,전용면적(㎡),계약년월,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,거래금액(만원),주택구매력지수,RIR,LIR
0,A10080701,84.9866,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,64700.0,62.082580,7.04,3.06
1,A10080701,84.9866,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,62.082580,7.04,3.06
2,A10080701,84.9866,201609.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,60.222390,7.56,3.24
3,A10080701,84.9846,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,69500.0,54.946911,7.85,3.58
4,A10080701,84.9581,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,76000.0,54.946911,7.85,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12853,A10095502,146.9679,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"68,494",63.157309,7.20,2.99
12854,A10095502,147.3212,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"67,787",63.157309,7.20,2.99
12855,A10095502,124.2102,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"77,204",63.157309,7.20,2.99
12856,A10095502,146.9679,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"99,020",63.157309,7.20,2.99
12857,A10095502,147.3270,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"102,150",63.157309,7.20,2.99

In [6]:
df['area']=df['전용면적(㎡)'].round(-1)

c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [190]:
df['area']

0         80.0
1         80.0
2         80.0
3         80.0
4         80.0
         ...
12853    150.0
12854    150.0
12855    120.0
12856    150.0
12857    150.0
Name: area, Length: 12858, dtype: float64

In [191]:
df.pop('전용면적(㎡)')

0         84.9866
1         84.9866
2         84.9866
3         84.9846
4         84.9581
           ...
12853    146.9679
12854    147.3212
12855    124.2102
12856    146.9679
12857    147.3270
Name: 전용면적(㎡), Length: 12858, dtype: float64

In [192]:
df['price'] = 0
for i in df.index:
    if type(df['거래금액(만원)'][i]) == str:
        df['price'][i] = df['거래금액(만원)'][i].replace(',','')
    else: 
        df['price'][i] = df['거래금액(만원)'][i]
df

c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

,아파트코드,계약년월,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,거래금액(만원),주택구매력지수,RIR,LIR,area,price
0,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,64700.0,62.082580,7.04,3.06,80.0,64700.0
1,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,62.082580,7.04,3.06,80.0,72000.0
2,A10080701,201609.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,60.222390,7.56,3.24,80.0,72000.0
3,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,69500.0,54.946911,7.85,3.58,80.0,69500.0
4,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,76000.0,54.946911,7.85,3.58,80.0,76000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12853,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"68,494",63.157309,7.20,2.99,150.0,68494
12854,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"67,787",63.157309,7.20,2.99,150.0,67787
12855,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"77,204",63.157309,7.20,2.99,120.0,77204
12856,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"99,020",63.157309,7.20,2.99,150.0,99020
12857,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"102,150",63.157309,7.20,2.99,150.0,102150

In [193]:
df = df.astype({'price':'float64'})

In [194]:
df['price']=df.groupby(['계약년월','아파트코드','area'])['price'].transform('mean')

In [195]:
df['아파트구분'] = df['아파트코드'].map(str) +'-' +df['area'].map(str)

In [196]:
df

,아파트코드,계약년월,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,거래금액(만원),주택구매력지수,RIR,LIR,area,price,아파트구분
0,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,64700.0,62.082580,7.04,3.06,80.0,68350.00,A10080701-80.0
1,A10080701,201608.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,62.082580,7.04,3.06,80.0,68350.00,A10080701-80.0
2,A10080701,201609.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,72000.0,60.222390,7.56,3.24,80.0,72000.00,A10080701-80.0
3,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,69500.0,54.946911,7.85,3.58,80.0,71075.00,A10080701-80.0
4,A10080701,201612.0,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,76000.0,54.946911,7.85,3.58,80.0,71075.00,A10080701-80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12853,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"68,494",63.157309,7.20,2.99,150.0,76068.25,A10095502-150.0
12854,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"67,787",63.157309,7.20,2.99,150.0,76068.25,A10095502-150.0
12855,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"77,204",63.157309,7.20,2.99,120.0,78516.00,A10095502-120.0
12856,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"99,020",63.157309,7.20,2.99,150.0,76068.25,A10095502-150.0
12857,A10095502,201512.0,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,"102,150",63.157309,7.20,2.99,150.0,76068.25,A10095502-150.0

In [197]:
df = df.drop_duplicates(subset=['아파트구분','계약년월'])

In [198]:
df.pop('거래금액(만원)')

0               64700.0
2               72000.0
3               69500.0
7               68700.0
8               66900.0
              ...
12836           148,283
12841           100,289
12843            79,398
12848            79,828
12849            68,118
Name: 거래금액(만원), Length: 4128, dtype: object

In [199]:
df['date'] = df['계약년월']
df = df.set_index('계약년월')

c:\Users\46861\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [200]:
df

,아파트코드,건축년도,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,주택구매력지수,RIR,LIR,area,price,아파트구분,date
계약년월,,,,,,,,,,,,,,,,,,
201608.0,A10080701,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,62.082580,7.04,3.06,80.0,68350.00,A10080701-80.0,201608.0
201609.0,A10080701,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,60.222390,7.56,3.24,80.0,72000.00,A10080701-80.0,201609.0
201612.0,A10080701,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,54.946911,7.85,3.58,80.0,71075.00,A10080701-80.0,201612.0
201701.0,A10080701,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,56.613091,8.50,3.75,80.0,68700.00,A10080701-80.0,201701.0
201704.0,A10080701,2012.0,221.0,2.59041,4.0,0.056426,0.113172,0.231107,0.126888,0.367897,0.175818,55.722382,7.19,3.32,80.0,69900.00,A10080701-80.0,201704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201510.0,A10095502,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,65.308559,6.77,2.83,180.0,148283.00,A10095502-180.0,201510.0
201511.0,A10095502,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,63.660824,7.08,2.80,150.0,99423.25,A10095502-150.0,201511.0
201511.0,A10095502,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,63.660824,7.08,2.80,120.0,80221.00,A10095502-120.0,201511.0
201512.0,A10095502,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,63.157309,7.20,2.99,120.0,78516.00,A10095502-120.0,201512.0
201512.0,A10095502,2014.0,617.0,2.59041,6.0,0.018084,0.192776,0.118238,0.180272,0.217184,0.002898,63.157309,7.20,2.99,150.0,76068.25,A10095502-150.0,201512.0

In [201]:
df = df.sort_values(by=["아파트구분", "date"], ascending=[True, True])

In [202]:
from sklearn.preprocessing import MinMaxScaler

In [203]:
df.keys()

Index(['아파트코드', '건축년도', '주차대수', '범죄율', '건물연식', '대규모점포_거리', '버스정류장_거리',
       '지하철역_거리', '학교_거리', '유치원_거리', '병원_거리', '주택구매력지수', 'RIR', 'LIR', 'area',
       'price', '아파트구분', 'date'],
      dtype='object')

In [204]:
scaler = MinMaxScaler()
scale_cols = ["price",'area','주차대수','범죄율','건물연식','대규모점포_거리','버스정류장_거리',
              '지하철역_거리','학교_거리','유치원_거리','병원_거리', '주택구매력지수','RIR','LIR']

In [205]:
apart_scaled = scaler.fit_transform(df[scale_cols])
apart_scaled = pd.DataFrame(apart_scaled)
apart_scaled.columns = scale_cols

In [209]:
apart_scaled

,price,area,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,주택구매력지수,RIR,LIR,code
0,0.036415,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.014802,1.000000,0.000000,A10024359-10.0
1,0.042017,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-10.0
2,0.104115,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-20.0
3,0.070028,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0
4,0.081232,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,0.139216,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.117070,0.206851,0.572289,A13302201-80.0
4124,0.214286,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.290499,0.372859,0.855422,A13302201-80.0
4125,0.215686,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.255968,0.345191,0.855422,A13302201-80.0
4126,0.232493,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.132919,0.325428,0.822289,A13302201-80.0
4127,0.238095,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.206440,0.325428,0.858434,A13302201-80.0

In [210]:
apart_scaled['code'] = df.reset_index(drop=True)['아파트구분']

In [211]:
apart_scaled['date'] = df.reset_index(drop=True)['date']

In [212]:
apart_scaled

,price,area,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,주택구매력지수,RIR,LIR,code,date
0,0.036415,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.014802,1.000000,0.000000,A10024359-10.0,202202.0
1,0.042017,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-10.0,202203.0
2,0.104115,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-20.0,202203.0
3,0.070028,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0,202204.0
4,0.081232,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0,202205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,0.139216,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.117070,0.206851,0.572289,A13302201-80.0,201810.0
4124,0.214286,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.290499,0.372859,0.855422,A13302201-80.0,202009.0
4125,0.215686,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.255968,0.345191,0.855422,A13302201-80.0,202010.0
4126,0.232493,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.132919,0.325428,0.822289,A13302201-80.0,202104.0
4127,0.238095,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.206440,0.325428,0.858434,A13302201-80.0,202107.0

In [213]:
len(apart_scaled)/3 * 2

2752.0

In [214]:
TEST_SIZE = 2752
WINDOW_SIZE = 10

train = apart_scaled[:-TEST_SIZE]
test = apart_scaled[-TEST_SIZE:]

In [181]:
#apart_scaled = apart_scaled.set_index(['code','date'])

인덱스 추후 추가

In [215]:
apart_scaled

,price,area,주차대수,범죄율,건물연식,대규모점포_거리,버스정류장_거리,지하철역_거리,학교_거리,유치원_거리,병원_거리,주택구매력지수,RIR,LIR,code,date
0,0.036415,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.014802,1.000000,0.000000,A10024359-10.0,202202.0
1,0.042017,0.000000,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-10.0,202203.0
2,0.104115,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,0.017091,NaN,NaN,A10024359-20.0,202203.0
3,0.070028,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0,202204.0
4,0.081232,0.038462,0.026815,0.0,0.000000,1.000000,0.000000,0.305940,0.167426,0.729931,0.240551,NaN,NaN,NaN,A10024359-20.0,202205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,0.139216,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.117070,0.206851,0.572289,A13302201-80.0,201810.0
4124,0.214286,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.290499,0.372859,0.855422,A13302201-80.0,202009.0
4125,0.215686,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.255968,0.345191,0.855422,A13302201-80.0,202010.0
4126,0.232493,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.132919,0.325428,0.822289,A13302201-80.0,202104.0
4127,0.238095,0.269231,0.083459,0.0,0.727273,0.411138,0.763696,0.267511,0.316978,0.263036,0.648392,0.206440,0.325428,0.858434,A13302201-80.0,202107.0

In [216]:
apart_scaled.to_csv('중구아파트가격lsbm돌리기전.csv')

In [ ]:
#수정해야됨
import numpy as np
def make_dataset(data, label, window_size=5):
    feature_list = []
    label_list = []
    for i in data.index:
        if data['code'][i] = data['code'][i + window_size]:
            feature_list.append(np.array(data.iloc[i:i+window_size]))
            label_list.append(np.array(label.iloc[i+window_size]))
        else 
    return np.array(feature_list), np.array(label_list)

In [150]:
df = apart_scaled.sort_index()