In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final4_english.csv')

In [3]:
df

,Unnamed: 0,apart_code,YYYYMM,apart__name,sigungu,town_name,address,sale_type,area_m3,floor,...,GDP,GDI,GNI,CPI,avg_interest,kospi,M2,house_CCSI,unsold,prices
0,1,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.81,1,...,361724.2,343229.4,345819.5,91.242,5.79,1955.79,1757058.7,106.0,1890.0,79000
1,2,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.10,11,...,361724.2,343229.4,345819.5,91.242,5.79,1955.79,1757058.7,106.0,1890.0,81200
2,3,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,77.71,6,...,361724.2,343229.4,345819.5,91.242,5.79,1955.79,1757058.7,106.0,1890.0,64000
3,4,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.10,3,...,361724.2,343229.4,345819.5,91.242,5.79,1955.79,1757058.7,106.0,1890.0,78800
4,5,A10024603,201201,아이파크종암동2차,서울특별시 성북구 종암동,종암동,서울특별시 성북구 종암로9길 71,임대,84.73,5,...,361724.2,343229.4,345819.5,91.242,5.79,1955.79,1757058.7,106.0,1890.0,46000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725063,725064,A15776004,202207,현대3,서울특별시 강서구 염창동,염창동,서울특별시 강서구 양천로75길 60,분양,59.92,1,...,NaN,NaN,NaN,108.740,NaN,2451.50,NaN,NaN,NaN,64600
725064,725065,A15807701,202207,세양청마루,서울특별시 양천구 신정동,신정동,서울특별시 양천구 목동남로2길 60-30,분양,84.98,9,...,NaN,NaN,NaN,108.740,NaN,2451.50,NaN,NaN,NaN,95000
725065,725066,A15882107,202207,금호1,서울특별시 양천구 목동,목동,서울특별시 양천구 목동동로 258,분양,84.96,22,...,NaN,NaN,NaN,108.740,NaN,2451.50,NaN,NaN,NaN,115000
725066,725067,A41279917,202207,은평뉴타운우물골(두산위브6단지),서울특별시 은평구 진관동,진관동,서울특별시 은평구 진관2로 57-7,분양,84.54,8,...,NaN,NaN,NaN,108.740,NaN,2451.50,NaN,NaN,NaN,93000
725067,725068,A41279923,202207,은평뉴타운 제각말 푸르지오(5-1단지),서울특별시 은평구 진관동,진관동,서울특별시 은평구 연서로48길 12,분양,101.83,5,...,NaN,NaN,NaN,108.740,NaN,2451.50,NaN,NaN,NaN,103000

In [4]:
school = pd.read_csv('아파트코드기준 가까운 학교(초중고분리).csv')

In [5]:
school = school[['apart_code','초등학교까지 거리','중학교까지 거리','고등학교까지 거리']]

In [6]:
school.columns = ['apart_code','near_element','near_middle','near_high']

In [7]:
school

     apart_code  near_element  near_middle  near_high
0     A10023829      0.361849     0.757172   0.754787
1     A10023858      0.127345     0.215405   0.223326
2     A10023859      0.418859     0.652291   0.751892
3     A10023887      0.323371     0.697751   0.587135
4     A10023891      0.432172     0.586452   1.080000
...         ...           ...          ...        ...
2605  B13307002      0.228220     0.258838   0.183818
2606  B13385401      0.252977     1.015514   0.381064
2607  B13679401      0.205521     0.471987   0.285695
2608  B15281101      0.111526     0.195486   1.249862
2609  B15672601      0.409981     0.153698   1.128599

[2610 rows x 4 columns]

In [8]:
df = pd.merge(df,school,on='apart_code',how='left')

In [10]:
df.to_csv('final5_splited_school.csv')