In [1]:
import numpy as np
import pandas as pd

In [150]:
#더 다양한 파일 포함된 데이터 불러오기
df_vary = pd.read_csv('서울시아파트(기준).csv',encoding='cp949')

In [151]:
df_vary = df_vary.drop_duplicates(['k-아파트코드'])

In [152]:
df_vary.keys()

Index(['번호', 'k-아파트코드', 'k-아파트명', 'k-단지분류(아파트,주상복합등등)', 'kapt도로명주소',
       '주소(시도)k-apt주소split', '주소(시군구)', '주소(읍면동)', '나머지주소', '주소(도로명)',
       '주소(도로상세주소)', 'k-전화번호', 'k-팩스번호', '단지소개기존clob', '단지첨부파일',
       'k-세대타입(분양형태)', 'k-관리방식', 'k-복도유형', 'k-난방방식', 'k-전체동수', 'k-전체세대수',
       'k-건설사(시공사)', 'k-시행사', 'k-사용검사일-사용승인일', 'k-연면적', 'k-주거전용면적',
       'k-관리비부과면적', 'k-전용면적별세대현황(60㎡이하)', 'k-전용면적별세대현황(60㎡~85㎡이하)',
       'k-85㎡~135㎡이하', 'k-135㎡초과', 'k-홈페이지', 'k-등록일자', 'k-수정일자', '고용보험관리번호',
       '경비비관리형태', '세대전기계약방법', '청소비관리형태', '건축면적', '주차대수', '기타/의무/임대/임의=1/2/3/4',
       '단지승인일', '사용허가여부', '관리비 업로드', '좌표X', '좌표Y', '단지신청일'],
      dtype='object')

In [153]:
df_vary = df_vary[['k-아파트코드','k-전체세대수','좌표X','좌표Y']]

In [119]:
df_vary.columns = [['아파트코드','세대수','좌표X','좌표Y']]

In [120]:
df = pd.read_csv('데이터_변수_0812_final2.csv',encoding='cp949')

In [121]:
df.keys()

Index(['아파트코드', '계약년월', '단지명', '시군구', '읍면동', 'kapt도로명주소', '분양형태', '전용면적', '층',
       '건축년도', '주차대수', '좌표X', '좌표Y', '범죄율', '건물연식', '대규모점포_거리', '버스정류장_거리',
       '지하철역_거리', '학교_거리', '유치원_거리', '병원_거리', '거래금액', '아파트매매가격지수', '년도', '월',
       '주택구매력지수', 'PIR', 'LIR', 'GDP', 'GDI', 'GNI', '소비자물가지수', '대출평균',
       '주택담보대출금리', '평균코스피지수'],
      dtype='object')

In [122]:
a = pd.read_excel('A(m2,소비자심리,미분양).xlsx')

In [123]:
df = pd.merge(df, a, on = '계약년월', how = 'left')
df

,아파트코드,계약년월,단지명,시군구,읍면동,kapt도로명주소,분양형태,전용면적,층,건축년도,...,GDP,GDI,GNI,소비자물가지수,대출평균,주택담보대출금리,평균코스피지수,"M2통화량(평잔,십억원)",주택시장소비심리지수,미분양
0,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.81,1,1978,...,361724.2,343229.4,345819.5,91.242,5.79,5.06,1956,1757058.7,106.0,1890.0
1,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.10,11,1978,...,361724.2,343229.4,345819.5,91.242,5.79,5.06,1956,1757058.7,106.0,1890.0
2,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,77.71,6,1978,...,361724.2,343229.4,345819.5,91.242,5.79,5.06,1956,1757058.7,106.0,1890.0
3,A10024240,201201,무지개,서울특별시 서초구 서초동,서초동,서울특별시 서초구 효령로 391,임대+분양,101.10,3,1978,...,361724.2,343229.4,345819.5,91.242,5.79,5.06,1956,1757058.7,106.0,1890.0
4,A10024603,201201,아이파크종암동2차,서울특별시 성북구 종암동,종암동,서울특별시 성북구 종암로9길 71,임대,84.73,5,2005,...,361724.2,343229.4,345819.5,91.242,5.79,5.06,1956,1757058.7,106.0,1890.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725063,A15776004,202207,현대3,서울특별시 강서구 염창동,염창동,서울특별시 강서구 양천로75길 60,분양,59.92,1,1996,...,NaN,NaN,NaN,108.740,NaN,NaN,2452,NaN,NaN,NaN
725064,A15807701,202207,세양청마루,서울특별시 양천구 신정동,신정동,서울특별시 양천구 목동남로2길 60-30,분양,84.98,9,2006,...,NaN,NaN,NaN,108.740,NaN,NaN,2452,NaN,NaN,NaN
725065,A15882107,202207,금호1,서울특별시 양천구 목동,목동,서울특별시 양천구 목동동로 258,분양,84.96,22,1997,...,NaN,NaN,NaN,108.740,NaN,NaN,2452,NaN,NaN,NaN
725066,A41279917,202207,은평뉴타운우물골(두산위브6단지),서울특별시 은평구 진관동,진관동,서울특별시 은평구 진관2로 57-7,분양,84.54,8,2009,...,NaN,NaN,NaN,108.740,NaN,NaN,2452,NaN,NaN,NaN
725067,A41279923,202207,은평뉴타운 제각말 푸르지오(5-1단지),서울특별시 은평구 진관동,진관동,서울특별시 은평구 연서로48길 12,분양,101.83,5,2010,...,NaN,NaN,NaN,108.740,NaN,NaN,2452,NaN,NaN,NaN

In [125]:
df = df.astype({'평균코스피지수':'float64'})

In [126]:
df.pop('주택담보대출금리')

0         5.06
1         5.06
2         5.06
3         5.06
4         5.06
          ...
725063     NaN
725064     NaN
725065     NaN
725066     NaN
725067     NaN
Name: 주택담보대출금리, Length: 725068, dtype: float64

In [127]:
df.pop('대출평균')

0         5.79
1         5.79
2         5.79
3         5.79
4         5.79
          ...
725063     NaN
725064     NaN
725065     NaN
725066     NaN
725067     NaN
Name: 대출평균, Length: 725068, dtype: float64

In [128]:
df.isnull().sum()

아파트코드               0
계약년월                0
단지명                 0
시군구                 0
읍면동                 0
kapt도로명주소           0
분양형태             2628
전용면적                0
층                   0
건축년도                0
주차대수             1926
좌표X                 0
좌표Y                 0
범죄율                 0
건물연식                0
대규모점포_거리            0
버스정류장_거리            0
지하철역_거리             0
학교_거리               0
유치원_거리              0
병원_거리               0
거래금액                0
아파트매매가격지수           0
년도                  0
월                   0
주택구매력지수          3269
PIR              4222
LIR              4222
GDP               228
GDI               228
GNI               228
소비자물가지수             0
평균코스피지수             0
M2통화량(평잔,십억원)     228
주택시장소비심리지수        228
미분양               228
dtype: int64

In [129]:
df = df[df['주차대수'].notna()]
df = df[df['분양형태'].notna()]
df = df[df['M2통화량(평잔,십억원)'].notna()]
df = df[df['주택시장소비심리지수'].notna()]
df = df[df['미분양'].notna()]
df = df[df['PIR'].notna()]
df = df[df['LIR'].notna()]
df = df[df['주택구매력지수'].notna()]

In [130]:
df.isnull().sum()

아파트코드            0
계약년월             0
단지명              0
시군구              0
읍면동              0
kapt도로명주소        0
분양형태             0
전용면적             0
층                0
건축년도             0
주차대수             0
좌표X              0
좌표Y              0
범죄율              0
건물연식             0
대규모점포_거리         0
버스정류장_거리         0
지하철역_거리          0
학교_거리            0
유치원_거리           0
병원_거리            0
거래금액             0
아파트매매가격지수        0
년도               0
월                0
주택구매력지수          0
PIR              0
LIR              0
GDP              0
GDI              0
GNI              0
소비자물가지수          0
평균코스피지수          0
M2통화량(평잔,십억원)    0
주택시장소비심리지수       0
미분양              0
dtype: int64

In [131]:
df = pd.get_dummies(df,columns=['분양형태'])

In [132]:
df.keys()

Index(['아파트코드', '계약년월', '단지명', '시군구', '읍면동', 'kapt도로명주소', '전용면적', '층', '건축년도',
       '주차대수', '좌표X', '좌표Y', '범죄율', '건물연식', '대규모점포_거리', '버스정류장_거리', '지하철역_거리',
       '학교_거리', '유치원_거리', '병원_거리', '거래금액', '아파트매매가격지수', '년도', '월', '주택구매력지수',
       'PIR', 'LIR', 'GDP', 'GDI', 'GNI', '소비자물가지수', '평균코스피지수',
       'M2통화량(평잔,십억원)', '주택시장소비심리지수', '미분양', '분양형태_분양', '분양형태_영구임대', '분양형태_임대',
       '분양형태_임대+분양'],
      dtype='object')

In [133]:
codes = df['아파트코드']

주변의 아파트 구하기

In [134]:
df_range = df_vary[['아파트코드','좌표X','좌표Y','세대수']]

In [135]:
df_range

          아파트코드         좌표X        좌표Y    세대수
0     A15679103  126.959639  37.500668  206.0
1     A13876112  127.129179  37.476897  197.0
2     A13873701  127.128775  37.508906  153.0
3     A15275101  126.840675  37.501162  209.0
4     A13991016  127.058220  37.631732  205.0
...         ...         ...        ...    ...
2617  A10023859  126.927512  37.513950  130.0
2618  A10023858  126.962886  37.548159    NaN
2619  A10023855         NaN        NaN  675.0
2620  A10023829  127.033011  37.620171  203.0
2621  A10023825  127.045793  37.500586  499.0

[2622 rows x 4 columns]

A10024240 단지를 중심으로

In [137]:
df_range

          아파트코드         좌표X        좌표Y    세대수
0     A15679103  126.959639  37.500668  206.0
1     A13876112  127.129179  37.476897  197.0
2     A13873701  127.128775  37.508906  153.0
3     A15275101  126.840675  37.501162  209.0
4     A13991016  127.058220  37.631732  205.0
...         ...         ...        ...    ...
2617  A10023859  126.927512  37.513950  130.0
2618  A10023858  126.962886  37.548159    NaN
2619  A10023855         NaN        NaN  675.0
2620  A10023829  127.033011  37.620171  203.0
2621  A10023825  127.045793  37.500586  499.0

[2622 rows x 4 columns]

In [149]:
df.dtypes

아파트코드             object
계약년월               int64
단지명               object
시군구               object
읍면동               object
kapt도로명주소         object
전용면적             float64
층                  int64
건축년도               int64
주차대수             float64
좌표X              float64
좌표Y              float64
범죄율              float64
건물연식               int64
대규모점포_거리         float64
버스정류장_거리         float64
지하철역_거리          float64
학교_거리            float64
유치원_거리           float64
병원_거리            float64
거래금액               int64
아파트매매가격지수        float64
년도                 int64
월                  int64
주택구매력지수          float64
PIR              float64
LIR              float64
GDP              float64
GDI              float64
GNI              float64
소비자물가지수          float64
평균코스피지수          float64
M2통화량(평잔,십억원)    float64
주택시장소비심리지수       float64
미분양              float64
분양형태_분양            uint8
분양형태_영구임대          uint8
분양형태_임대            uint8
분양형태_임대+분양         uint8
dtype: object

반경3km이내의 아파트 코드 출력

In [ ]:
df_range.astype({'아파트코드':})

In [142]:
gizun_code = 'A10024240'
gizun = df_range[df_range['아파트코드']==gizun_code]

In [139]:
start = (float(gizun['좌표Y']),float(gizun['좌표X']))
near_apts = []
for i in df_range.index:
    goal = (float(df_range['좌표Y'][i]),float(df_range['좌표X'][i]))
    if haversine(start, goal) < 3:
        near_apts.append(df_range['아파트코드'][i])
near_df = pd.DataFrame()
near_df['아파트코드'] = near_apts

TypeError: float() argument must be a string or a number, not 'DataFrame'

In [108]:
pd.merge(near_df,df_vary,on='아파트코드',how='left')

ValueError: The column label '아파트코드' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [101]:
near_df.set_index('아파트코드').index

Index(['A10024240', 'A10026051', 'A13501002', 'A13501004', 'A13501006',
       'A13508009', 'A13524005', 'A13527001', 'A13527005', 'A13527006',
       ...
       'A10027474', 'A13508012', 'A10026941', 'A10026411', 'A10026004',
       'A10026015', 'A10025927', 'A10024913', 'A10024564', 'A10024574'],
      dtype='object', name='아파트코드', length=151)

In [104]:
df_vary.dtypes

아파트코드     object
세대수      float64
dtype: object

In [107]:
near_df.dtypes

아파트코드    object
dtype: object

In [50]:
near_df.dtypes

아파트코드    object
dtype: object

In [49]:
df_vary.dtypes

아파트코드     object
세대수      float64
dtype: object

In [48]:
df_vary.drop_duplicates(['아파트코드'])

KeyError: Index(['아파트코드'], dtype='object')

In [134]:
df_vary

          아파트코드    세대수
0     A15679103  206.0
1     A13876112  197.0
2     A13873701  153.0
3     A15275101  209.0
4     A13991016  205.0
...         ...    ...
2617  A10023859  130.0
2618  A10023858    NaN
2619  A10023855  675.0
2620  A10023829  203.0
2621  A10023825  499.0

[2622 rows x 2 columns]